---
- name: Get the output of all files
  shell: "grep -H '' /sys/kernel/debug/x86/*"
  register: shell_output
  ignore_errors: yes

- name: set fact
  set_fact:
    stockpile_kernel_debug: "{{ shell_output.stdout_lines }}"
  when: shell_output.stdout_lines is defined

