---

- name: Determine if docker is running
  shell: "{{ container_cli }} ps | wc -l"
  register: container_ps

- name: Set var for container deployment
  set_fact:
    containers: True
    config_path: /var/lib/config-data/puppet-generated
  when: container_ps.stdout|int > 1

- name: Set fact for non-container deployment
  set_fact:
    config_path: /etc
  when: container_ps.stdout|int < 2

